extends layout

block content
  .header
    h1=title
    .folderBtns
      button(id="editFolderBtn") Edit  
      button(id="deleteFolderBtn") Delete
  if folder.files.length > 0
    ul
      each file in folder.files
        li=file.name  
  else
    div No files 

  // Modal
  #editFolderModal.modal(style="display: none;")
    .modal-content  
      span.close &times;
      h2 Enter Folder Name
      form(action=`/folder/${folder.id}/edit` method="POST")
        input(type="text" name="folderName" value=folder.name placeholder="Folder Name", required)
        button(type="submit") Edit Folder  

  // Modal
  #deleteFolderModal.modal(style="display: none;")
    .modal-content
      span.close &times;
      h2 Are you sure you want to delete this folder?
      form(action=`/folder/${folder.id}/delete` method="POST")
        .deleteConfirm
          button(class="deleteYes" type="submit") Yes
          button(class="deleteNo" type="button") No




